
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
  background-color: #F5F5F1
}
.etsy-head{
  background-color: #ffffff;
}
img {
  max-width: 100%;
}
.container {
  border-bottom: solid 1px #E1E3DF;
  height: 100px;
}
.etsy{
    font-family: serif;
    font-weight: 400;
    font-size: 46px;
    margin-left: 22px;
    color: #e66c1d;
}
.input-group .form-control {
    position: relative;
    margin-left: -50px;
    z-index: 2;
    float: left;
    width: 300px;
    margin-bottom: 0;
}
.sell{
  font-size: 15px;
  margin-left: 400px;
  margin-top: 30px;

}
.reg{
  font-size: 15px;
  margin-top: 30px;
  margin-left: -75px;

}
a{
  color: #3b8fb3;
}
.sign{
  margin-top: 22px;
  color: #3b8fb3;
  border: 1px solid #3B8FB3;
  border-radius: 3px;
  padding: 8px;
}
.input-group{
  margin-top: 30px;
}
.btn{
  background-color: #54a5c2;
  color: #ffffff;
}
// .cart-box{
//   border-left: 1px solid #eeeeee;
//   padding: 4px;
//   height: 60px;
//   margin-top: 20px;
// }
.cart{
  font-size: 22px;
    margin-top: 20px;
    margin-right: 56px;

}
.cart2{
  margin-top: -1px

}
.cart1{
  float: right;
}
.sub-nav{
  // margin-left: 80px;
  padding: 15px;
  border-bottom: 1px solid #E1E3DF;

}
.sub-nav span{
  padding-left: 16px;
  color: #777777;
}

.pics{
  float: right;
}
.h4{
  // margin-left: 100px;
  // font-size: 13px;
}
.list-heading{
  // margin-left: -25px;
  // font-size: 13px;
}
.list{
  border-bottom: 1px solid #E1E3DF;
}

.results{
  // width: 225px;
  // font-size: 13px;
  border: 1px solid #E1E3DF;
  background-color: #ffffff;
  border-radius: 2px;
  // margin-left: 100px;
}
li{
  margin-left: -14px;
  list-style: none;
  color: #3B8FB3;
  padding: 2px;
}
.results4{
  // width: 225px;
  // font-size: 13px;
  border: 1px solid #E1E3DF;
  background-color: #ffffff;
  border-radius: 2px;
  // margin-left: 115px;
}
.color-box{
  width: 45px;
  height: 45px;
}
.color-box1{
  border: solid 1px #E1E3DF;
  background-color: red;
}
.color-box2{
  border: solid 1px #E1E3DF;
  background-color: orange;
}
.color-box3{
  border: solid 1px #E1E3DF;
  background-color: yellow;
}
.color-box4{
  border: solid 1px #E1E3DF;
  background-color: green;
}
.color-box5{
  border: solid 1px #E1E3DF;
  background-color: blue;
}
.color-box6{
  border: solid 1px #E1E3DF;
  background-color: purple;
}
.color-box7{
  border: solid 1px #E1E3DF;
  background-color: black;
}
.color-box8{
  border: solid 1px #E1E3DF;
  background-color: white;
}
.span-links{

  padding: 8px;
}
.catagories{
  color: #3B8FB3
}
.price{
  color: #87BF4F;

}
.picture{
  min-width: 100%;
}
.title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.picture-boxes{
  margin: 5px;
}

.pic-box{
  border: 1px solid #CBCCC9;
  padding: 3px;
  max-height: 225px;
  min-height: 225px;
  text-overflow: ellipsis;
}
.related{
  font-size: 14px;
  margin-left: 5px;
}
.bottom-links{

  margin-left: -39px;

}
.looking{
  margin-left: 27px;
}
.pages{
  margin-left: 27px;
  

}
